<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<form name = "pass_data" action = "." method = "post">
    <img src="https://staticaltmetric.s3.amazonaws.com/uploads/2015/12/Altmetric_rgb.png" alt="Simply Easy Learning" width="200"
         height="80">

    <div class="col-md-6">
        <div class="panel panel-default">
            <center>
                <div class="panel-heading">
                    <h3>Next Popular</h3>
                </div>

                <label> Enter your youtube video link:</label>
                <input type = "text" name = "youtube_url">
                <br>
                <input type = "submit" value = "submit">

                <div class="panel-body">
                Next Popular is the tool for predicting whether if the video will be viral videos from YouTube is going to have in the future.
                <br>
                    Enter or paste a Youtube URL as-is in the box above and click Submit
                </div>


            </center>
        </div>
    </div>
</form>
</body>
</html>